@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
.encabezado {
  background-image: linear-gradient(rgba(224, 32, 32, 0.852), maroon); }
  .encabezado div div img {
    width: 10rem;
    margin: 10px;
    border-radius: 6rem; }

/*estilos del navegador*/
nav ul {
  display: flex;
  justify-content: flex-end;
  gap: .3rem;
  list-style-type: none; }
  nav ul .nav-link {
    color: white !important;
    font-size: 1.3rem;
    margin-top: 3px; }
    nav ul .nav-link:hover {
      color: gold !important; }
  nav ul li {
    border: solid 4px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 2px;
    background-color: #1eac2a;
    margin: 2px;
    margin-top: 2px; }
    nav ul li a {
      text-decoration: none;
      font-size: 25px;
      color: white; }

/* estilos de la barra social*/
.socialBar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100; }
  .socialBar .icon {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    transition: all .5s; }
    .socialBar .icon:hover {
      padding-right: 5rem;
      border-radius: 1rem 0 0 1rem;
      box-shadow: 0 0 0.5rem rgba 0, 0, 0, 0.42; }
  .socialBar .icon-facebook2 {
    background-color: #2E406E;
    border-radius: 1rem 0 0 0; }
  .socialBar .icon-twitter {
    background-color: #339dc5; }
  .socialBar .icon-youtube {
    background-color: #E83028; }
  .socialBar .icon-instagram {
    background-color: #d81067;
    border-radius: 0 0 0 1rem; }

/* estilos del main*/
main {
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; }
  .index .image {
    width: 40vh;
    animation: float 3s linear infinite; }
  .index h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5.5rem;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px green;
    margin-right: 4rem; }
  .index .textIndex p {
    font-size: 1.7rem;
    margin-right: 4rem; }

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem); }
  50% {
    transform: translateY(-3.5rem); } }

.contenedor1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedor1 .itemind {
    border: 3px solid black;
    border-radius: 50px 70px;
    text-align: center;
    background-color: white; }

.mapCenter {
  margin: 10px;
  margin-left: 25%; }

/*estilos del carrusel*/
.carousel-inner {
  width: 26%;
  float: left;
  margin: 0.5%;
  margin-left: 3%;
  border: 1px solid black;
  border-radius: 50px 70px; }

.parrafo-nosotros {
  font-size: 1.6rem;
  padding: 10px;
  margin: 3%;
  margin-left: 32%;
  margin-right: 6%;
  line-height: 1.5;
  text-align: justify;
  background-color: rgba(247, 247, 247, 0.692); }

/*estilos de cards*/
.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .container .card {
    display: flex;
    align-items: center;
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(108, 172, 108, 0.692);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
    .container .card img {
      height: 250px; }
    .container .card .title {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 30px;
      text-align: center;
      color: #000000;
      font-weight: bold;
      text-shadow: 3px 3px 3px rgba(108, 172, 108, 0.692); }
  .container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

/*estilos del footer */
footer {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0; }

/*estilos del formulario*/
form {
  background-color: rgba(247, 247, 247, 0.692);
  margin: 3rem 5rem;
  border: solid 3px black;
  border-radius: 10px; }
  form fieldset {
    color: black; }
    form fieldset legend {
      font-size: 28px;
      font-weight: bold;
      margin: 0.5rem; }
    form fieldset input {
      margin: 10px;
      font-size: 20px;
      border: none;
      border-bottom: 3px solid maroon;
      border-radius: 10px; }
    form fieldset label {
      font-size: 25px; }

/*media queries hasta 950 px*/
@media screen and (max-width: 950px) {
  .index {
    flex-direction: column-reverse; }
    .index .image {
      width: 35vh;
      margin-bottom: 7px; }
  h1 {
    font-size: 4rem; }
  nav ul {
    justify-content: space-evenly; }
    nav ul li {
      margin-top: 2px; }
    nav ul a {
      font-size: 18px; }
  h2 {
    font-size: 1.8rem; }
  .item {
    padding: 20px;
    margin: 20px 40px; }
  h3 {
    font-size: 2rem; }
  .contenedor2 {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    margin: 20px 30px; }
    .contenedor2 .item-mate {
      padding: 0px;
      margin: 20px 38px; }
  .carText {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center; }
  .carousel-inner {
    float: none;
    margin: 0;
    padding: 0;
    width: 17rem; }
  .parrafo-nosotros {
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
    font-size: 1.4rem; }
  .socialBar {
    font-size: 1.6rem; } }

@media screen and (max-width: 700px) {
  .socialBar {
    display: none; } }

@media screen and (max-width: 400px) {
  .index {
    flex-direction: column-reverse; }
    .index .image {
      width: 30vh;
      margin-bottom: 7px; }
  .contenedor2 {
    margin: 0;
    justify-content: center; }
  .carousel-inner {
    float: none;
    margin: 0;
    margin-left: 15%;
    padding: 0;
    width: 70%; }
  .parrafo-nosotros {
    padding: 5px; }
  .legend {
    margin: 0; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: border-box; }

body {
  height: 100vh; }

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  color: #272727;
  background-color: rgba(253, 253, 253, 0); }

.contenedor1 .itemind, .contenedor2 .item-mate {
  padding: 50px;
  margin: 20px 38px; }

/*contenedor 2*/
.contenedor2 {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center; }
