%subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: #272727;
    background-color: $color-terciario;
}

%contenedores {
    padding: 50px;
    margin: 20px 38px;
}