/* estilos del main*/

h2 { @extend %subtitle;

}

main div div {
    border: 3px solid black;
    border-radius: 50px 70px;
    text-align: center;
}

.contenedor1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .itemind {
        @extend%contenedores;
    }
}

h3 {
    @extend%subtitle;
}

.mapCenter {
    margin: 10px;
    margin-left: 25%;
}


/*estilos del carrusel*/

.carousel-inner {
    width: 18%;
    float: left;
    margin: 0.8%;
}

.parrafo-nosotros {
    font-size: 1.4rem;
    padding: 0 8% 0 0;
    line-height: 1.5;
    text-align: justify;
}